@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Serif', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  font-family: 'Cinzel', serif !important;
  letter-spacing: 0.2rem;
}

.min-vh-75 {
  min-height: 75vh;
}

.max-vh-75 {
  max-height: 75vh;
}

.min-vw-25 {
  min-width: 20vw;
}

.bg-light-darker {
  background-color: #dfe0e1;
}

.drop-down-icon {
  width: 25px;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-quantity {
  width: 5rem !important;
}

.cart-icon {
  width: 30px;
  height: 30px;
}

.carousel-inner {
  height: 100% !important;
  padding: 100px;
  /* overflow: hidden !important; */
}

.carousel-item img {
  object-fit: fit !important;
  object-position: center !important;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
